<h1>Remplis les informations :</h1>

 <%= simple_form_for @booking do |f| %>
 <%= f.input :date_start, label: "A partir de quand le livre est-il disponible ?" %>
 <%= f.input :date_end, label: "Jusqu'à quand souhaites-tu le laisser disponible au prêt ?" %>
 <%= f.button :submit, "J'empreinte prête ce livre", class: "my-button" %>
<% end %>

<h2>Ton livre n'est pas dans la liste ?</h2>
<h2>Envoie moi un message pour que je l'ajoute à la liste</h2>
<%= link_to "retour à l'accueil", root_path %>
