<h1>Voici la liste de tous les livres disponibles</h1>

<!-- Ici on affiche la liste de tous les livres avec une possibilité dé trier par catégorie ou une search par ordre alphabétique-->
<% @announces.each do |announce| %>
  <div>
    <h4>Disponible :</h4>
    <h4>Du : <%= announce.date_start %></h4>
    <h4>Au : <%= announce.date_end %></h4>
    <h4>A : <%= announce.city %></h4>
    <h4>Par : <%= announce.user.email %></h4>
    <%= link_to "Voir l'annonce en détails", announce_path(announce.id) %>
  </div>
<% end %>
