<h1>Remplis les informations pour prêter tes livres</h1>

 <%= simple_form_for @announce do |f| %>
 <%= f.input :city, label: "Dans quelle ville est-il disponible ?" %>
 <%= f.input :date_start, label: "A partir de quand le livre est-il disponible ?" %>
 <%= f.input :date_end, label: "Jusqu'à quand souhaites-tu le laisser disponible au prêt ?" %>
 <%= f.input :livre, collection: @livres %> <!-- C'est ici que ca plante, on recupere une string au lieu d'une instance -->
 <% end %>
 <%= f.button :submit, "Je prête mon livre", class: "my-button" %>
<% end %>

<h2>Ton livre n'est pas dans la liste ?</h2>
<h2>Envoie moi un message pour que je l'ajoute à la liste</h2>
<%= link_to "retour à l'accueil", root_path %>
